{% load static %}
<! DOCTYPE html>
<html>
	<head>
		<title> Academics </title>
		<link rel= "stylesheet" type="text/css" href="{% static "css/style.css"%}">
	</head>
	<body>
	   <div>
	   <h1>Academics</h1>
        <p>
		<ul id="menu">
			<li id="items"> <a href="/home/index">Home </a></li>
			<li id="items"> <a href="/home/academics">Academics </a></li>
			<li id="items"><a href="/home/contact"> Contact Us </a></li>
		</ul>
			</p>
			<img src="{% static "images/2.jpg"%}">
        
        
        
	   
	   </div>
	 
	   <div id="main">
		<p><h2> Academics Details </h2></p>
		
		<p><a id="hyperlink" href="http://psgitech.ac.in/index.php" target="_blank">Click Here </a> to find out more about the college.</p> 
		</div>
		<div>
			<p id="footer">Copyright &copy; 2017 PSGiTECH </p>
		</div>	

	   </body>
</html>	