{% load static %}
<! DOCTYPE html>
<html>
	<head>
		<title> Contact </title>
		<link rel= "stylesheet" type="text/css" href="{% static "css/style.css"%}">
	</head>
	<body>
	   <div>
	   <h1>Contact us</h1>
        <p>
		<ul id="menu">
			<li id="items"> <a href="/home/index">Home </a></li>
			<li id="items"> <a href="/home/academics">Academics </a></li>
			<li id="items"><a href="/home/contact"> Contact Us </a></li>
		</ul>
			</p>
			
	   
	   
	   </div>
	  
	   <div id="main">
	   
		
		<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.642716177144!2d77.0905906148033!3d11.06539089212587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f8a655555555%3A0xa3da0cb94e76285c!2sPSG+Institute+of+Technology+and+Applied+Research!5e0!3m2!1sen!2sin!4v1498551927483" width="1300" height="400" frameborder="0" style="border:0" align="top" allowfullscreen></iframe>
		</p>
		<p><h2> Contact </h2></p>
	    For Details Contact (College Office)<br>
		PSG Institute of Technology and Applied Research<br>
		NH 544, Avinashi Road, Neelambur<br>
		Coimbatore - 641 062<br>
		Tamilnadu.<br>
		Phone No : 0422 3933 555<br>
		Fax No : 0422 3933456<br>
		e-mail : admissions@psgitech.ac.in<br>
		</div>
		
		
	   </body>
</html>	

