{% load static %}
<!DOCTYPE html>
<html>
	<head>
		
		<title> Faculty Requirement </title>
		<link rel= "stylesheet" type="text/css" href="{% static "css/style.css"%}">
		</head>
		<body>
            
            
            
		<div>
		<h1> WELCOME TO PSGiTECH </h1>
            <p>
		<ul id="menu">
			<li id="item"> <a class="hi" href="/accounts/signup">Sign Up </a></li>
			<li id="item"> <a class="hi" href="/accounts/signin">Login </a></li>
			
		</ul>
		</p>
            
		<p>
		<ul id="menu">
			<li id="items"> <a class="hi" href="/home/index">Home </a></li>
			<li id="items"> <a class="hi" href="/home/academics">Academics </a></li>
			<li id="items"><a class="hi"href="/home/contact"> Contact Us </a></li>
		</ul>
		</p>
		<img src="{% static "images/1.jpg"%}">
		</div>
    
		
		<div id="main">
			<p><h2> About PSGiTECH </h2></p>
			<p><h3> Message from the Managing Trustee</h3>
Ever since the wheel was invented, man has undergone phenomenal changes.<br>
 His mobility has been vibrant. Along the path, his constant urge for making himself comfortable was realized with every new invention. <br>
 It has now reached a stage where he could become a misfit without Technology.<br>
 Falling a prey to technology is not contended as long as it is used for the betterment of the society.<br>

Being bestowed with the monumental responsibility of leading the rich heritage of the PSG & Sons Charities Trust is a challenge by itself.<br>
 I am proud that the rise to fame engendered not from its high rise concrete structures or from its technological knowhow, but from its intricately intertwined human resource, which has been through the thick and thin of its 80 years of existence. </p>

			</div>
			
			
		</body>
		</html>
		